---
layout: default
---

<div>

  {{ content }}

  <h2>最新文章</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {% assign url_link = post.url %}
        <h2>
          <a class="post-link" href="{{ url_link }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

      </li>
    {% endfor %}
  </ul>
  
  <div class="mt-5">
    <!-- Pagination links -->
       {% if paginator.total_pages > 1 %}
       <ul class="pagination"> 
         {% if paginator.previous_page %}
           <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a></li>
         {% else %}
           <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
         {% endif %}

         {% for page in (1..paginator.total_pages) %}
           {% if page == paginator.page %}
           <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
           {% elsif page == 1 %}
           <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
           {% else %}
           <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
           {% endif %}
         {% endfor %}

         {% if paginator.next_page %}
           <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | replace: '//', '/' }}">下一页 &raquo;</a></li>
         {% else %}
           <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
         {% endif %}
       </ul>
       {% endif %}      
   </div>
</div>
